<div class="itemCard" *ngIf="cInfo != null">
  <h2>Modify Collection:</h2>
  <div>
    <p>Collection Name:</p>
    <input class="form-control" type="text" value="{{cInfo['collectionName']}}" #cn>
    <br>
    <p>Collection Description:</p>
    <textarea class="form-control" value="{{cInfo['collectionDescription']}}" style="width: 100%" #cd></textarea>
    <br>
    <input type="checkbox" id="checkPrivate" #ck>Keep collection private.
    <br>
    <button class="mt-3 btn btn-outline-secondary mt-1" (click)="saveCollectionInfoChanges(cn.value, cd.value, ck.checked)">Save</button>
  </div>
</div>
<div class="card itemCard" *ngIf="cInfo != null">
  <div class="card-body">
    <h5 class="card-title">Items in the collection:</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let cItem of cItems">
      {{cItem['itemName']}} *
      <div class="input-group mt-3 w-25">
        <input type="number" min="0" class="form-control w-25" value="{{cItem['quantity']}}" #qu>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="saveCollectionItemChanges(cItem['_id'], qu.value)">Save</button>
        </div>
      </div>
      <button class="btn btn-danger float-right" (click)="removeCollectionItem(cItem['_id'])">Delete</button>
    </li>
  </ul>
  <div class="card-body">
  <a routerLink="" class="btn btn-outline-secondary">Add new item!</a>
  </div>
</div>
