<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">Benton's Shop</a>
    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown show" *ngIf="adminDisplay()" dropdown>
          <a class="nav-link btn dropdown-toggle" aria-controls="dropdown-basic" dropdownToggle>
            Manage Mode<span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="manageUser">Manage User</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="manageComment">Manage Hidden Comments</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="managePolicy">Modify Policy</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="notice">Notices</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="addNewItem">Add New Item</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!authDisplay()">
          <a class="nav-link" routerLink="/signIn">Sign In/ Sign Up <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="authDisplay()">
          <a class="nav-link" routerLink="cart">Shopping Cart<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown show" *ngIf="authDisplay()" dropdown>
          <a class="nav-link btn dropdown-toggle" aria-controls="dropdown-basic" dropdownToggle>
            Collection <span class="caret"></span>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink="collection">All Collections</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="myCollection">My Collections</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="collection/createCollection">Create New Collection</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="authDisplay()">
          <a class="nav-link btn" (click)="signOut()">Sign Out<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="policy">Policy & Guide<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="goBack()">Go Back <span class="sr-only">(current)</span></a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLink="/about">About</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>
<!--<app-items-wrap></app-items-wrap>-->

<router-outlet></router-outlet>
