<div class="itemCard">
  <h2>Item Information:</h2>
  <div class="card" *ngIf="item != null">
    <div class="card-body p-4">
      <h3 class="card-title">{{item['name']}}</h3>
      <p class="card-text">Description: {{item['description']}}</p>
      <p class="card-text">Price: ${{item['price']}}</p>
      <p class="card-text">Tax: {{item['tax'] * 10}}%</p>
      <p class="card-text">Stock: {{item['stock']}}</p>
      <p class="card-text">Sales Volume: {{item['salesVolume']}}</p>
      <h6>Number of item add to shopping cart or collection:</h6>
      <div class="input-group mb-3 w-50" *ngIf="authDisplay()">
        <input min="1" type="number" class="form-control" value="1" #amount>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addToCart(amount.value)">Add to Shopping Cart</button>
        </div>
      </div>
      <div class="input-group mb-3 w-50" *ngIf="authDisplay()">
        <select class="custom-select form-control" id="inputGroupSelect01" #type>
          <option selected disabled>Choose Your Collection</option>
          <option *ngFor="let c of collectionList" value="{{c['_id']}}">
            {{c['collectionName']}}
          </option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Add to Collection</button>
        </div>
      </div>

    </div>
  </div>
  <h2>Comments:</h2>
  <div class="card" *ngFor="let comment of comments">
    <div class="card-body p-4" >
      <h5 class="card-title">{{comment['userName']}}</h5>
      <p class="card-text">Rating: {{comment['rating']}}</p>
      <p class="card-text">Content: {{comment['content']}}</p>
    </div>
  </div>
  <h2 *ngIf="authDisplay()">Leave Comment:</h2>
  <div *ngIf="authDisplay()">
    <p>Rating ( 1-5 ): {{rate}}</p>
    <input type="range" min="0" max="5" placeholder="Rating" #rating (change)="ratingChange(rating.value)">
    <br>
    <textarea placeholder="Comment" #comment style="width: 100%"></textarea>
    <br>
    <button class="btn btn-outline-secondary mt-1" (click)="writeComment(rating.value, comment.value)">Write Comments</button>
  </div>
</div>
