<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card m-4" style="width: 18rem;" *ngFor="let item of items">
        <img class="card-img-top" src="../../assets/images/NoImageFound.png" alt="Card image cap">
        <div class="card-body" id="{{item['_id']}}">
          <h5 class="card-title">{{item['name']}}</h5>
          <p class="card-text price">Price: ${{item['price']}}</p>
          <p class="card-text tax">Tax: {{item['tax'] * 100}}%</p>
          <p class="card-text stock">Stock: {{item['stock']}}</p>
          <p class="card-text popularity">Popularity Point: {{item['salesVolume']}}</p>
          <button class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="pagination justify-content-center pagination-lg">
      <li class="page-item" *ngFor="let num of loopArray()"><a class="page-link" href="#" (click)="showItems(num - 1)">{{num}}</a></li>
    </ul>
  </nav>
</div>

